header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 60vh;
    gap: 1rem;
}

.simon-square {
    width: 100%;
    height: 100%;
    transition: opacity .3s ease-in-out;

    &:active {
        opacity: 1 !important;
    }
}

.simon-square:nth-child(1) {
    background-color: red;
    opacity: 0.5;

}

.simon-square:nth-child(2) {
    background-color: blue;
    opacity: 0.5;
}

.simon-square:nth-child(3) {
    background-color: green;
    opacity: 0.5;

}

.simon-square:nth-child(4) {
    background-color: yellow;
    opacity: 0.5;
}


.is-active {
    opacity: 1 !important;
}

.modal-simon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000008a;
}

.modal-card-simon {
    width: 300px;
    height: 250px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 1rem;
    padding: 1rem;

    p {
        text-align: center;
    }
}

.oculto {
    display: none;
}