.board-tateti {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 1rem;
    place-content: center;
    margin: 1rem 0;
}

.square-tateti {
    border: 1px solid black;
    border-radius: 10px;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.game-tateti {
    width: 100%;
    height: 100vh;
    text-align: center;

    h1 {
        font-size: 3rem;
        margin: 1rem;
    }
}

.turns-container-tateti {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 0.3rem;

    div {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 15px;
    }
}

.active {
    background-color: #0784fffc;
    color: white;
    border: none !important;
}

.modal-tateti {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0000007a;
    height: 100%;

}

.card-modal-tateti {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 1rem;
}

.btn {
    background-color: #0784fffc;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
}

.tie {
    font-size: 3rem;
    margin: 2rem;
}